# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [4]:
a = 'Innomatics'
print("my name is",a)

my name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [7]:
#
#  vaiables are store data like numbers,strings,text,etc.

In [9]:
#a variable is a python is name that refers to the value stored in memory.

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [17]:
width = 17
height = 12.0
delimiter = '.'

result1 = width /2
print("width/2 =", result1)

result2 = width /2.0
print("width/2.0 =", result2)

result3 = height /3
print("height/3 =", result3)

result4 = 1 + 2 * 5
print( result4)

result5 = delimiter *5
print( result5)

width/2 = 8.5
width/2.0 = 8.5
height/3 = 4.0
11
.....

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [18]:
a = 100
print("first number is ",a)

b = 200
print("second number is ", b)
c =  a+b
print("Addition of two numbers is ",c)

first number is  100
second number is  200
Addition of two numbers is  300

In [26]:
a = 100
b = 200
c = a+b
print("first number is ", a); ("second number is ", b) ;("Addition of two numbers is ",c)

first number is  100

('Addition of two numbers is ', 300)

> `Question:` Add your first name and second name

In [28]:
name1  = "Sachin"
print("my first name is: ", name1)

name2 = "Tendulakar"
print("my second name is: ", name2)

name3 = name1 + " " + name2
print("my full name is: ", name3)

my first name is:  Sachin
my second name is:  Tendulakar
my full name is:  Sachin Tendulakar

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [33]:
a  = 10
print(a)
print(type(a))
b  = '10'
print(b)
print(type(b))
c = True
print(c)
print(type(c))
d = 10.5
print(d)
print(type(d))

10
<class 'int'>
10
<class 'str'>
True
<class 'bool'>
10.5
<class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [35]:
num_int = 123
num_str = "456"

num_str_int = int(num_str)

result = num_int + num_str_int
print(" Addition of 123 and 456 is:", result)

 Addition of 123 and 456 is: 579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [36]:
import math
r = 5
volume = (4/3) * math.pi * (r**3)
print(" the volume of the sphere with radius 5 is:", volume)

 the volume of the sphere with radius 5 is: 523.5987755982989

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [38]:
cover_price = 24.95
discount = 0.40
num_copies = 60
shipping_first = 3.0
shipping_additional = 0.75
discounted_price = cover_price * (1 - discount)
books_cost = discounted_price * num_copies
shipping_cost = shipping_first + (num_copies - 1) * shipping_additional
total_cost = books_cost + shipping_cost
print("Total cost of 60 copies of the book is: $", total_cost)

Total cost of 60 copies of the book is: $ 945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)